<div id="splash" class="row-fluid">
  <div class="span10 offset1">
    <div id="logo">
      <h1>54: Launch a startup in a weekend at the University of Illinois</h1>
    </div>
  </div>
</div>
<div id="mainnav" class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav">
        <li class="active"><a href="#overview">Overview</a></li>
        <li><a href="#schedule">Schedule</a></li>
        <li><a href="#contribute">Contribute</a></li>
      </ul> <!-- /nav -->

      <!-- Hidden for now
      <form class="navbar-search form-search pull-right" action="">
        <div class="input-append">
          <input type="text" class="search-query span2" placeholder="Search">
          <button type="submit" class="btn btn-large">
            <i class="fui-search"></i>
          </button>
        </div>
      </form>
      -->
    </div>
  </div>
</div>
<div id="overview" class="itemgrid">
  <div class="row-fluid">
    <div class="span2 offset1">
      <img src="/images/icons/Calendar.png"/>
    </div>
    <div class="span8">
      <h3>No Ordinary Weekend</h3>
      <p>
        Plan, build, and launch a startup with fellow students in <strong>54</strong> hours. Refreshments will be provided; just bring your friends, gear, and ideas.
      </p>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span2 offset1">
      <img src="/images/icons/Girl.png"/>
    </div>
    <div class="span8">
      <h3>An Inclusive Event For All Genders And Majors</h3>
      <p>
        <strong>54</strong> is not modeled after hackathons. Teams will need designers, developers, businesspeople, marketers, and <strong class="highlight">you</strong>.
      </p>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span2 offset1">
      <img src="/images/icons/Graph.png"/>
    </div>
    <div class="span8">
      <h3>Real Startups<sup>TM</sup></h3>
      <p>
        <strong>54</strong> builds strong friendships and sustainable businesses that last well after the event is over. Startups are powered aircraft, not projectiles.<sup class="big"><a class="highlight" href="http://paulgraham.com/ds.html">*</a></sup>
      </p>
    </div>
  </div>
</div>
<div id="blurb" class="row-fluid">
  <div class="span10 offset1">
    <h2><span class="ordinary">Spend A Weekend With Us</span>
    <span class="slash"> / </span>
    <span class="primary">Leave With A Startup</span></h2>
    <!-- Uncomment for video embed
    <iframe src="http://player.vimeo.com/video/32424882?color=ffffff&portrait=0&byline=0&title=0" width="720" height="405" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    -->
  </div>
</div>
<div id="schedule" class="itemgrid">
  <div class="row-fluid">
    <div class="span2 offset1">
      <img src="/images/icons/Bulb.png"/>
    </div>
    <div class="span8">
      <h3>Day One: Imagine</h3>
      <p>
        On day one, participants pitch their business ideas in 60 seconds or less. After talking it out, everyone votes on their favorite ideas, and the top ideas form teams.
      </p>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span2 offset1">
      <img src="/images/icons/Settings.png"/>
    </div>
    <div class="span8">
      <h3>Day Two: Create</h3>
      <p>
        On day two, the fun starts. Each team races to develop their idea, putting together prototypes, slide decks, and marketing material with the help of our awesome coaches.
      </p>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span2 offset1">
      <img src="/images/icons/Spaceship.png"/>
    </div>
    <div class="span8">
      <h3>Day Three: Present</h3>
      <p>
        At the end of day three, teams gather on stage to present their hard work in front of their peers, mentors, and a panel of judges.
      </p>
    </div>
  </div>
</div>
<div id="contribute" class="row-fluid">
  <div class="span12">
    <div class="row-fluid text-center">
      <h2>Join Us</h2>
    </div>
    <div class="row-fluid text-center hidden">
      <ul class="nav nav-pills">
        <li class="active">
          <a href="#contribute-student">I&#39;m A Student</a>
        </li>
        <li>
          <a href="#contribute-sponsor">I&#39;m A Sponsor</a>
        </li>
      </ul>
    </div>
    <div id="contribute-student" class="formHolder">
      <div class="span6 offset3">
        <form action="/contribute/student" class="form-horizontal">
          <div class="alert">
            <h3>Make A Difference</h3>
            <p>
              We are looking for driven individuals with an interest in entrepreneurship to help us make this event a success. If you don&#39;t find a role that fits you, pick <strong>other</strong>, and we&#39;ll find a way for you to contribute meaningfully.
            </p>
          </div>
          <div class="control-group">
            <label class="control-label" for="fullName">Full Name</label>
            <div class="controls">
              <input type="text" class="span5" name="fullName" placeholder="Johnny Appleseed" />
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="netId">NetID</label>
            <div class="controls">
              <input type="text" class="span5" name="netId" placeholder="jdoe2" />
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="major">Major</label>
            <div class="controls">
              <input type="text" class="span5" name="major" placeholder="Basketweaving" />
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="year">Year</label>
            <div class="controls radio-controls">
              <label class="radio">
                <input type="radio" name="year" value="freshman" data-toggle="radio" />Freshman
              </label>
              <label class="radio">
                <input type="radio" name="year" value="sophomore" data-toggle="radio" />Sophomore
              </label>
              <label class="radio">
                <input type="radio" name="year" value="junior" data-toggle="radio" />Junior
              </label>
              <label class="radio">
                <input type="radio" name="year" value="senior" data-toggle="radio" />Senior
              </label>
            </div>
          </div>
          <div class="alert">
            <h3>Open Positions</h3>
            <ul>
              <li>
                <strong>Marketing Director</strong>
                <ol>
                  <li>Promote the event to students on campus across all majors, through word-of-mouth, posters, and online</li>
                </ol>
              </li>
              <li>
                <strong>Facilities Director</strong>
                <ol>
                  <li>Manage the logistics of the weekend, from catering to wireless access, to room access</li>
                  <li>Coordinate with event volunteers</li>
                </ol>
              </li>
              <li>
                <strong>Corporate Director</strong>
                <ol>
                  <li>Reach out to event coaches and judges to come and work with the teams</li>
                </ol>
              </li>
            </ul>
          </div>
          <div class="control-group">
            <label class="control-label" for="position">Position</label>
            <div class="controls radio-controls">
              <label class="radio">
                <input type="radio" name="position" value="marketing" data-toggle="radio" />Marketing Director
              </label>
              <label class="radio">
                <input type="radio" name="position" value="facilities" data-toggle="radio" />Facilities Director
              </label>
              <label class="radio">
                <input type="radio" name="position" value="corporate" data-toggle="radio" />Corporate Director
              </label>
              <label class="radio">
                <input type="radio" name="position" value="other" data-toggle="radio" />Other
              </label>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="commitments">Commitments</label>
            <div class="controls radio-controls">
              <textarea name="commitments" rows="6">Tell what other commitments you have during the 2013-2014 school year</textarea>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="whyYou">Why You?</label>
            <div class="controls radio-controls">
              <textarea name="whyYou" rows="6">Why are you going to be amazing at this job?</textarea>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="fiftyFour">Why Us?</label>
            <div class="controls radio-controls">
              <textarea name="fiftyFour" rows="6">What makes you want to be a part of 54?</textarea>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="entrepreneurship">Entrepreneurship</label>
            <div class="controls radio-controls">
              <textarea name="entrepreneurship" rows="6">Give us three sentences about your experience or interest in entrepreneurship.</textarea>
            </div>
          </div>
          <div class="controls">
            <button type="submit" class="btn btn-large btn-success">Submit</button>
          </div>
        </form>
      </div>
    </div>
    <div id="contribute-sponsor" class="row-fluid formHolder hidden">
    </div>
  </div>
</div>