<div id="splash" class="row-fluid">
  <div id="logo" class="span1"></div>
  <div id="cta" class="span7">
    <h1>Launch a company in a weekend with your most talented classmates.</h1>
    <div id="buttan">
      <input id="netid" type="text" value="NetID">
      <a class="btn btn-primary btn-large">Sign Up</a>
    </div>
  </div>
</div>
<div id="mainnav" class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav">
        <li class="active"><a href="#overview">Overview</a></li>
        <li><a href="#schedule">Schedule</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul> <!-- /nav -->
    </div>
  </div>
</div>
<div id="overview" class="itemgrid">
  <div class="row-fluid">
    <div class="span2 offset1">
      <img src="/images/icons/Calendar.png"/>
    </div>
    <div class="span8">
      <h3>No Ordinary Weekend</h3>
      <p>
        Plan, build, and launch a startup with fellow students in <strong>54</strong> hours. Refreshments will be provided; just bring your friends, gear, and ideas.
      </p>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span2 offset1">
      <img src="/images/icons/Girl.png"/>
    </div>
    <div class="span8">
      <h3>An Inclusive Event For All Genders And Majors</h3>
      <p>
        <strong>54</strong> is not modeled after hackathons. Teams will need designers, developers, businesspeople, marketers, and <strong class="highlight">you</strong>.
      </p>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span2 offset1">
      <img src="/images/icons/Graph.png"/>
    </div>
    <div class="span8">
      <h3>Real Startups<sup>TM</sup></h3>
      <p>
        <strong>54</strong> builds strong friendships and sustainable businesses that last well after the event is over. Startups are powered aircraft, not projectiles.<sup class="big"><a class="highlight" href="http://paulgraham.com/ds.html">*</a></sup>
      </p>
    </div>
  </div>
</div>
<div id="blurb" class="row-fluid">
  <div class="span10 offset1">
    <h2><span class="ordinary">Spend A Weekend With Us</span>
    <span class="slash"> / </span>
    <span class="primary">Leave With A Startup</span></h2>
    <!-- Uncomment for video embed
    <iframe src="http://player.vimeo.com/video/32424882?color=ffffff&portrait=0&byline=0&title=0" width="720" height="405" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    -->
  </div>
</div>
<div id="schedule" class="itemgrid">
  <div class="row-fluid">
    <div class="span2 offset1">
      <img src="/images/icons/Bulb.png"/>
    </div>
    <div class="span8">
      <h3>Day One: Imagine</h3>
      <p>
        On day one, participants pitch their business ideas in 60 seconds or less. After talking it out, everyone votes on their favorite ideas, and the top ideas form teams.
      </p>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span2 offset1">
      <img src="/images/icons/Settings.png"/>
    </div>
    <div class="span8">
      <h3>Day Two: Create</h3>
      <p>
        On day two, the fun starts. Each team races to develop their idea, putting together prototypes, slide decks, and marketing material with the help of our awesome coaches.
      </p>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span2 offset1">
      <img src="/images/icons/Spaceship.png"/>
    </div>
    <div class="span8">
      <h3>Day Three: Present</h3>
      <p>
        At the end of day three, teams gather on stage to present their hard work in front of their peers, mentors, and a panel of judges.
      </p>
    </div>
  </div>
</div>
<div id="blurb" class="row-fluid">
  <div class="span10 offset1">
    <h2><span>Contact</span>
  </div>
</div>
<div id="contact" class="itemgrid">
  <div class="row-fluid">
    <div class="span2 offset1">
      <a href='mailto:team@54.io'><img src="/images/icons/Arrow_2x.png"/></a>
    </div>
    <div class="span8">
      <h3><a href='mailto:team@54.io'>Shoot Us an Email</a></h3>
      <p>
        Questions, comments, jokes - we'd love to hear from you!
      </p>
    </div>
  </div>
</div>