<div class="response container">
  <div class="row text-center">
    <p>
      <strong><Hi!</strong>
    </p>
  </div>
  <div class="row">
    <div class="alert alert-success">
      <h3 align="center">Thanks for your interest in 54!</h3>
      <p align="center">
        If you have any questions about the event, please email us at <strong><a href="mailto:team@54.io">team@54.io</a></strong>.
      </p>
    </div>
  </div>
  <div class="row text-center">
    <p>
      <a href="/">54.io</a>
    </p>
  </div>
</div>