@font-face {
    font-family: Roboto-Bold;
    src: url("assets/roboto/Roboto-Bold.ttf");
}

@font-face {
    font-family: Roboto-Regular;
    src: url("assets/roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: Roboto-Thin;
    src: url("assets/roboto/Roboto-Thin.ttf");
}

@font-face {
    font-family: Roboto-Light;
    src: url("assets/roboto/Roboto-Light.ttf");
}

@font-face {
    font-family: Roboto-Italic;
    src: url("assets/roboto/Roboto-Italic.ttf");
}

@font-face {
    font-family: Roboto-LightItalic;
    src: url("assets/roboto/Roboto-LightItalic.ttf");
}

@font-face {
    font-family: Roboto-Medium;
    src: url("assets/roboto/Roboto-Medium.ttf");
}

* {
    margin: 0;
    padding: 0;
}

html {
    background-color: RGB(51,51,51);
}

.cta {
    background-color: RGB(255,120,0);
    font-family: Roboto-Light;
    color: RGB(255,255,255);
    outline: none;
    border: none;
    border-radius: 3px 3px 3px 3px;
    cursor: pointer;
    transition: .2s;
}

.cta:hover {
    background-color: RGB(204,88,3);
}

/* NAVIGATION BAR */

.navBarOuter {
    position: fixed;
    height: 80px;
    width: 100%;
    top: 0%;
    left: 0%;
    font-family: Roboto-Regular;
    font-size: 17px;
    z-index: 100;
    overflow: hidden;
    background-color: RGB(25,25,25);
    opacity: 1.0;
}

.navBarInner {
    width: 95%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 1.875em;
}

#smallLogo {
    position: relative;
    display: inline-block;
    margin: 0;
    margin-top: 17px;
    float: left;
    height: 46px;
    cursor: pointer;
    transition: .2s;
}

#smallLogo:hover {
    opacity: 0.8;
}

.navBarInner nav {
    position: relative;
    display: inline-block;
    margin-right: 20px;
    float: right;
}

.navBarInner nav a {
    margin: 0 0 0 20px;
    color: RGBA(255,255,255,.65);
    line-height: 80px;
    letter-spacing: 1px;
    text-decoration: none;
    transition: .2s;
}

.navBarInner nav a:hover {
    color: RGB(255,255,255);
}

#navCTA {
    margin-top: 22px;
    float: right;
    height: 36px;
    width: 90px;
    font-size: 14px;
    letter-spacing: 1px;
}

/* HEADER */

.headerOuter {
    position: absolute;
    display: block;
    margin-top: 150px;
    left: 0;
    width: 100%;
}

.headerInner {
    margin: 0 auto;
    width: 27.8%;
    min-width: 350px;
}

#largeLogo {
    display: block;
    margin: auto;
    height: 204px;
    pointer-events: none;
}

.headerInner h3, .headerInner p {
    color: RGB(255, 255, 255);
    letter-spacing: 1px;
    text-align: center;
}

.headerInner h3 {
    display: block;
    margin: 0 auto;
    margin-top: 8px;
    width: 350px;
    font-family: Roboto-Thin;
    font-size: 24px;
}

.headerInner p {
    margin-top: 10px;
    padding-bottom: 23px;
	font-family: Roboto-Thin;
    font-size: 20px;
	color: RGB(170,170,170);
}

#mainCTA {
    display: block;
    margin: auto;
    height: 49px;
    width: 127px;
    font-size: 20px;
}

/* ABOUT */

.aboutOuter {
    position: absolute;
    margin-top: 616px;
    width: 100%;
    z-index: 10;
}

.upCrossSlant {
    display: block;
    left: 0;
    right: 0;
    width: 100%;
}

/* May need to increase height of SVG */
.aboutInner {
    position: absolute;
    margin-top: -1px;
    height: 249px;
    width: 100%;
    z-index: 10000;
    background-color: RGB(34,34,34);
}

.aboutInner p {
    position: relative;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    width: 57%;
    max-width: 676px;
    color: RGB(255,255,255);
	font-family: Roboto-Light;
    font-size: 20px;
    letter-spacing: 1px;
	line-height: 34px;
}

.aboutOuter .downSlant {
    position: absolute;
    margin-top: 247px;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 10;
}

/* FAQ */

.faqOuter {
    position: absolute;
    margin-top: 1171px;
    padding-bottom: 111px;
    height: 668px;
    width: 100%;
    z-index: 10;
}

.whoApply {
    top: 0;
}

.whatFor, .otherQuestion {
    margin-top: 58px;
}

.faqOuter h3 {
    margin: 0 auto;
    width: 57%;
    max-width: 676px;
    color: RGB(255,255,255);
	font-family: Roboto-Bold;
    font-size: 26px;
	color: RGB(255,120,0);
    letter-spacing: 1px;
}

.faqOuter p {
    margin: 0 auto;
    padding-top: 22px;
    width: 57%;
    max-width: 676px;
    color: RGB(255,255,255);
	font-family: Roboto-Light;
    font-size: 20px;
    letter-spacing: 1px;
}

.faqOuter span {
    color: RGB(255,120,0);
}

.faqOuter a {
    color: RGB(255,120,0);
    text-decoration: none;
}

.faqOuter a:hover {
	color: RGB(255,153,17);
}

/* SCHEDULE */

.scheduleOuter {
    position: absolute;
    margin-top: 2015px;
    width: 100%;
    z-index: 10;
}

.upSlant {
    display: block;
    width: 100%;
}

.scheduleInner {
    position: absolute;
    margin-top: -1px;
    height: 298px;
    width: 100%;
    z-index: 10;
    background-color: RGB(34,34,34);
}

.schedule {
    margin: 0 auto;
    margin-top: 60px;
    max-width: 676px;
}

.plan, .build, .launch {
    float: left;
}

.build {
    padding-left: 60px;
    padding-right: 60px;
}

.schedule h3 {
    color: RGB(255,255,255);
	font-family: Roboto-Regular;
    font-size: 24px;
    letter-spacing: 1px;
}

.schedule p {
    padding-top: 20px;
    color: RGB(255,255,255);
	font-family: Roboto-Light;
    font-size: 20px;
    letter-spacing: 1px;
	line-height: 30px;
}

.schedule span {
    color: RGB(255,120,0);
}

.scheduleOuter .downCrossSlant {
    position: absolute;
    display: block;
    margin-top: 296px;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 10;
}

/* SPONSORS */

.sponsorsOuter {
    position: absolute;
    margin-top: 2618px;
    width: 100%;
    height: 97px;
    z-index: 10;
}

.sponsorsInner h3 {
    text-align: center;
    color: RGB(255,255,255);
    font-family: Roboto-LightItalic;
    font-size: 24px;
    letter-spacing: 1px;
}

/* FOOTER */

.footerOuter {
    position: absolute;
    margin-top: 2715px;
    height: 80px;
    width: 100%;
    z-index: 100;
    overflow: hidden;
    background-color: RGB(25,25,25);
    font-family: Roboto-Regular;
    font-size: 17px;
}

.footerInner {
    width: 95%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 1.875em;
}

.email {
    float: left;
    cursor: pointer;
    opacity: .65;
}

.email:hover {
    opacity: 1.0;
}

.planeIcon {
    margin-top: 25px;
    height: 30px;
    right: 0;
}

.email a {
    float: right;
    padding-left: 20px;
    color: RGB(255,255,255);
    text-decoration: none;
    line-height: 80px;
}

#foundersLogo {
    position: relative;
    display: inline-block;
    margin: 0;
    margin-top: 17px;
    float: right;
    height: 46px;
    cursor: pointer;
    transition: .2s;
}

#foundersLogo:hover {
    opacity: 0.8;
}
