* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Roboto-Bold;
    src: url("assets/roboto/Roboto-Bold.ttf");
}

@font-face {
    font-family: Roboto-Regular;
    src: url("assets/roboto/Roboto-Regular.ttf");
}

@font-face {
    font-family: Roboto-Thin;
    src: url("assets/roboto/Roboto-Thin.ttf");
}

@font-face {
    font-family: Roboto-Light;
    src: url("assets/roboto/Roboto-Light.ttf");
}

@font-face {
    font-family: Roboto-Italic;
    src: url("assets/roboto/Roboto-Italic.ttf");
}

@font-face {
    font-family: Roboto-LightItalic;
    src: url("assets/roboto/Roboto-LightItalic.ttf");
}

@font-face {
    font-family: Roboto-Medium;
    src: url("assets/roboto/Roboto-Medium.ttf");
}

html {
    background-color: RGB(51,51,51);
    font-family: Roboto-Light;
}

.cta {
    background-color: RGB(255,120,0);
    font-family: Roboto-Light;
    color: RGB(255,255,255);
    outline: none;
    border: none;
    border-radius: 3px 3px 3px 3px;
    cursor: pointer;
    transition: .1s;
}

.cta:hover {
    background-color: RGB(204,88,3);
}

/* NAVIGATION BAR */

.navBarOuter {
    position: fixed;
    height: 80px;
    width: 100%;
    font-size: 17px;
    z-index: 100;
    overflow: hidden;
    background-color: RGBA(25,25,25,1);
}

.navBarInner {
    width: 95%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 1.875em;
}

.navBarInner .icon {
    display: none;
}

#smallLogo {
    position: relative;
    margin: 0;
    margin-top: 17px;
    float: left;
    height: 46px;
    cursor: pointer;
    transition: .1s;
}

#smallLogo:hover {
    opacity: 0.8;
}

.navBarInner nav {
    position: relative;
    margin-right: 20px;
    float: right;
}

.navBarInner nav a {
    margin: 0 0 0 20px;
    color: RGBA(255,255,255,.65);
    line-height: 80px;
    letter-spacing: 1px;
    text-decoration: none;
    transition: .1s;
}

.navBarInner nav a:hover {
    color: RGB(255,255,255);
}

#navCTA {
    margin-top: 22px;
    float: right;
    height: 36px;
    width: 90px;
    font-size: 14px;
    letter-spacing: 1px;
}

/* HEADER */

.headerOuter {
    position: relative; /* absolute */
    display: block;
    padding-top: 150px; /* margin-top */
    left: 0;
    width: 100%;
}

.headerInner {
    margin: 0 auto;
    width: 27.8%;
    min-width: 350px;
}

#largeLogo {
    display: block;
    margin: auto;
    height: 204px;
    pointer-events: none;
}

.headerInner h3, .headerInner p {
    color: RGB(255, 255, 255);
    letter-spacing: 1px;
    text-align: center;
}

.headerInner h3 {
    display: block;
    margin: 0 auto;
    padding-top: 10px;
    width: 350px;
    font-family: Roboto-Thin;
    font-size: 24px;
}

.headerInner p {
    margin-top: 10px;
    padding-bottom: 23px;
	font-family: Roboto-Thin;
    font-size: 20px;
	color: RGB(170,170,170);
}

.buttons {
    margin: auto;
    width: 339px;
}

#mainCTA {
    display: block;
    position: relative;
    height: 49px;
    width: 127px;
    font-size: 20px;
}

.video {
    background-color: RGB(51,51,51);
    font-family: Roboto-Light;
    font-size: 20px;
    color: RGB(255,255,255);
    outline: none;
    border: none;
    cursor: pointer;
    transition: .1s;
    height: 49px;
    float: right;
    background: url("assets/play.png") no-repeat 0px center;
    background-size: 24px;
    padding-left: 35px;
    position: absolute;
    margin-left: 160px;
    margin-top: -50px;
}

.video:hover {
    opacity: .75;
}

/* ABOUT */

.aboutOuter {
    position: relative;
    padding-top: 85px; /* margin-top: 616px */
    width: 100%;
    z-index: 10;
}

.upCrossSlant {
    display: block;
    left: 0;
    right: 0;
    width: 100%;
}

.aboutInner {
    position: relative;
    margin-top: -1px;
    height: 249px;
    width: 100%;
    z-index: 10000;
    background-color: RGB(34,34,34);
}

.aboutInner p {
    position: relative;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    width: 57%;
    max-width: 676px;
    color: RGB(255,255,255);
	font-family: Roboto-Light;
    font-size: 20px;
    letter-spacing: 1px;
	line-height: 34px;
}

.aboutOuter .downSlant {
    position: relative;
    margin-top: -1px;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 10;
}

/* FAQ */

.faqOuter {
    position: relative;
    padding-top: 68px;
    width: 100%;
    z-index: 10;
}

.faqInner {
    position: relative;
    margin: 0 auto;
    width: 57%;
    max-width: 676px;
}

.leftColumn {
    float: left;
    position: relative;
}

.duringWeekend {
    padding-top: 68px;
}

.general {
    margin-left: 52%;
    position: relative;
}


.logistics {
    margin-left: 52%;
    position: relative;
    padding-top: 68px;
}

.faqInner h3 {
    font-size: 20px;
	color: RGB(255,120,0);
    letter-spacing: 1px;
}

.question h3 {
    font-size: 17.5px;
	color: RGB(255,120,0);
    letter-spacing: 1px;
    padding-top: 15px;
    max-width: 315px;
    cursor: pointer;
}

.question p {
    max-width: 315px;
    color: RGB(255,255,255);
    font-size: 16px;
    letter-spacing: 1px;
    padding-top: 15px;
}

.answer {
    -moz-transition: height .3s;
    -ms-transition: height .3s;
    -o-transition: height .3s;
    -webkit-transition: height .3s;
    transition: height .3s;
    height: 0;
    overflow: hidden;
}

.faqOuter span {
    color: RGB(255,120,0);
}

.faqOuter a {
    color: #FFF;
    text-decoration: underline;
    transition: .1s;
}

.faqOuter a:hover {
    opacity: .75;
}

.arrow {
    height: 10px;
    transition: .15s linear all;
    pointer-events: none;
}

.question h3 span {
    padding-left: 10px;
}

/* SCHEDULE */

.scheduleOuter {
    position: relative;
    padding-top: 68px;
    width: 100%;
    z-index: 10;
}

.upSlant {
    display: block;
    width: 100%;
}

.scheduleInner {
    position: absolute;
    margin-top: -1px;
    height: 298px;
    width: 100%;
    z-index: 10;
    background-color: RGB(34,34,34);
}

.schedule {
    margin: 0 auto;
    margin-top: 60px;
    max-width: 676px;
    padding-top: 20px;
}

.plan, .build, .launch {
    float: left;
}

.build {
    padding-left: 60px;
    padding-right: 60px;
}

.schedule h3 {
    color: RGB(255,255,255);
	font-family: Roboto-Light;
    font-size: 24px;
    letter-spacing: 1px;
}

.schedule p {
    padding-top: 20px;
    color: RGB(255,255,255);
	font-family: Roboto-Light;
    font-size: 20px;
    letter-spacing: 1px;
	line-height: 30px;
}

.schedule span {
    color: RGB(255,120,0);
}

.scheduleOuter .downCrossSlant {
    position: relative;
    display: block;
    margin-top: 296px;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 10;
}

.scheduleInner a {
    text-decoration: none;
    color: RGB(255,120,0);
    font-family: Roboto-Regular;
    float: left;
    margin-top: 6px;
}

.scheduleInner a:hover {
    text-decoration: underline;
}

/* SPONSORS */

.sponsorsOuter {
    position: relative;
    width: 100%;
    z-index: 10;
}

.sponsorsInner {
    padding-top: 68px;
    width: 676px;
    margin: auto;
    padding-bottom: 68px;
}

.slf {
    position: relative;
    width: 75%;
    margin-left: 12.5%;
}

.microsoft {
    padding-top: 55px;
    width: 45%;
    padding-right: 10%;
    float: left;
}

.capital {
    width: 45%;
    padding-top: 29px;
}

.cloudflare, .serra {
    width: 70%;
    margin-left: 15%;
    padding-top: 29px;
}

.tovala {
    width: 70%;
    margin-left: 15%;
    padding-top: 29px;
}

.pixo {
    width: 35%;
    float: left;
    padding-top: 29px;
    padding-right: 10%;
}

.ceterus {
    width: 55%;
    padding-top: 55px;
}

.sponsorsInner a:hover {
    opacity: .8;
    transition: .1s;
}

.sponsorsInner a:hover {
    opacity: .8;
    transition: .1s;
}

.sponsorsInner a:hover {
    opacity: .8;
    transition: .1s;
}

/* FOOTER */

.footerOuter {
    position: relative;
    height: 80px;
    width: 100%;
    z-index: 100;
    overflow: hidden;
    background-color: RGB(25,25,25);
    font-family: Roboto-Regular;
    font-size: 17px;
}

.footerInner {
    width: 95%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 1.875em;
}

.email {
    float: left;
    color: #FFF;
    cursor: pointer;
}

.planeIcon {
    margin-top: 25px;
    height: 30px;
    right: 0;
}

.email a {
    float: right;
    padding-left: 15px;
    color: RGB(255,255,255);
    text-decoration: underline;
    line-height: 80px;
}

.email:hover {
    opacity: .8;
}

#foundersLogo {
    position: relative;
    display: inline-block;

    margin-top: 20px;
    float: right;
    padding-right: 20px;
    height: 40px;
    cursor: pointer;
    transition: .1s;
}

#foundersLogo:hover {
    opacity: .8;
}

/* RESPONSIVE */

@media only screen and (max-width: 687px) {
    
    /* NAVIGATION BAR */
    
    .navBarInner a {
        display: none;
    }
    
    #navCTA {
        display: none;
    }
    
    .navBarInner a.icon {
        float: right;
        display: block;
    }
    
    .navBarInner.responsive {
        position: relative;
    }
    
    .navBarInner.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    
    .navBarInner.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    
    /* ABOUT */
    
    .aboutInner p {
        font-size: 16px;
        line-height: 20px;
    }
}

@media only screen and (max-width: 1070px) {
    
    /* FAQ */
    
    .faqInner {
        width: 50%;
    }
    
    .general {
        clear: left;
        margin-left: 0px;
        padding-top: 68px;
    }

    .logistics {
        margin-left: 0px;
    }
}

@media only screen and (max-width: 671px) {
    
    /* SCHEDULE */
    
    .scheduleInner {
        height: 528px;
    }
    
    .scheduleOuter .downCrossSlant {
        margin-top: 526px;
    }

    .schedule {
        width: 50%;
        margin: 0 auto;
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .plan, .build, .launch {
        clear: left;
    }
    
    .build {
        padding-top: 30px;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .launch {
        padding-top: 30px;
    }

    .schedule h3 {
        font-size: 20px;
        letter-spacing: 0px;
    }

    .schedule p {
        padding-top: 10px;
        font-size: 16px;
        letter-spacing: 0px;
        line-height: 20px;
    }
    
    /* SPONSORS */

    .sponsorsInner {
        padding-top: 68px;
        width: 90%;
        margin: auto;
        padding-bottom: 68px;
    }
}