<div id="mainnav" class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav">
        <li class="active"><a href="#fri">Friday</a></li>
        <li><a href="#sat">Saturday</a></li>
        <li><a href="#sun">Sunday</a></li>
        <li><a href="#judge">Judging Info</a></li>
      </ul> <!-- /nav -->
    </div>
  </div>
</div>
<div id="event">
  <div id="schedule" class="itemgrid">
    <div class="row-fluid">
      <div id="fri">
        <h1>Friday</h1>
        <div class="well">
          <h2>6:00pm:</h2>
          <h4>Check-in & t-shirts.</h4>
        </div>
        <div class="well">
          <h2>7:00pm:</h2>
          <h4>First meal is served.</h4>
        </div>
        <div class="well">
          <h2>12:00am:</h2>
          <h4>End of Day 1.</h4>
        </div>
      </div>
    </div>
    <div class="row-fluid">
      <div id="sat">
        <h1>Saturday</h1>
        <div class="well">
          <h2>9:00am:</h2>
          <h4>Breakfast is served.</h4>
        </div>
        <div class="well">
          <h2>7:00pm:</h2>
          <h4>Dinner is served.</h4>
        </div>
        <div class="well">
          <h2>12:00am:</h2>
          <h4>End of Day 2.</h4>
        </div>
      </div>
    </div>
    <div class="row-fluid">
      <div id="sun">
        <h1>Sunday</h1>
        <div class="well">
          <h2>9:00am:</h2>
          <h4>Breakfast is served.</h4>
        </div>
        <div class="well">
          <h2>7:00pm:</h2>
          <h4>Dinner is served.</h4>
        </div>
        <div class="well">
          <h2>12:00am:</h2>
          <h4>Final preparation.</h4>
        </div>
        <div class="well">
          <h2>12:00am:</h2>
          <h4>End of event.</h4>
        </div>
      </div>
    </div>
  </div>

  <div id="blurb" class="row-fluid"><h3>Judging Info</h3></div>
  <div id="judge" class="itemgrid">
    <div class="row-fluid">
      <div class="span2 offset1">
        <img src="/images/icons/Graph.png"/>
      </div>
      <div class="span8">
        <h3>Judging Criteria</h3>
        <p>
          Lorem ipsum
        </p>
      </div>
    </div>
  </div>
  <div id="contact" class="itemgrid">
    <div class="row-fluid">
      <div class="span12 sponsor">
        <a href="http://www.jumptrading.com/"><img src='/images/jump-grey.png'/></a>
        <a href="http://www.founders.is/"><img src='/images/founders-grey.png'/></a>
        <a href="http://www.qualcomm.com/"><img src='/images/qc-grey.png'/></a>
        <a href="http://www.ti.com/"><img src='/images/ti-grey.png'/></a>
        <div class="contactus">
          <h3><a href='mailto:team@54.io'>Email the team at <b>team@54.io.</b></a></h3>
        </div>
      </div>
    </div>
  </div>
</div>