#event{

  h1 {
    color: @illini-orange;
    padding-bottom: 8px;
  }

  h2 {
  }

  h4 {
    padding-left: 16px;
  }

  #schedule {
    padding: 0 8%;
    margin-top: 120px;

    .well {
      color: #333;
      background-color: rgba(255,255,255,0.6);
      border: #666 dashed 2px;
      padding: 4px 20px;

      &.food {
        background-color: @illini-orange;
      }

      &.judge {
        background-color: #1a1a1a;
      }

      &:hover{
        background-color: rgba(255,255,255,0.54);
      }
    }

    #sat,#sun {
      padding-top: 90px;
      margin-top: 120px;
    }
  }

  #blurb {
    margin-top: 40px;
  }

  .sponsor img {
  }
}
