<div id="contribute" class="row-fluid">
  <div class="span12">
    <div class="row-fluid text-center">
      <h2>Join Us</h2>
    </div>
    <div id="contribute-student" class="formHolder">
      <%= partial('form', {studentResponse: params, formAction: '', formMethod: 'POST'}); %>
    </div>
  </div>
</div>