<div class="hero-unit">
  <h2>All StudentResponses</h2>
  <%- linkTo('Create a new StudentResponse', addStudentResponsePath, {class: 'btn pull-right'}); %>
</div>

<div id="studentResponses-list">
<% if (studentResponses) { %>
<% for (var i = 0, ii = studentResponses.length; i < ii; i++) { %>
  <div class="row list-item" id="studentResponse-<%= studentResponses[i].id; %>">
    <div class="span8">
      <h3><%- linkTo(studentResponses[i].id, studentResponsePath(studentResponses[i].id)); %></h3>
    </div>
    <div class="span4">
      <h3><i class="icon-list-alt"></i><%= studentResponses[i].id; %></h3>
    </div>
  </div>
<% } %>
<% } %>
</div>